[Unit]
Description=Gunicorn instance to serve a flask app
After=network.target

[Service]
User={{ username }}
Group=www-data
WorkingDirectory=/home/{{ username }}/flask_app
Environment="PATH=/home/{{ username }}/flask_app/venv/bin"
ExecStart=/home/{{ username }}/flask_app/venv/bin/gunicorn --workers 3 --bind unix:flask_app.sock -m 007 app:app

[Install]
WantedBy=multi-user.target
